body {
	background: url(https://images.unsplash.com/photo-1468849169679-0b89c0d8aeab?dpr=1&auto=compress,format&fit=crop&w=376&h=490&q=80&cs=tinysrgb&crop=);
	background-size: cover;
	background-position: center;
	font-family: Lato;
	color: white;
}
.navbar-inverse .navbar{
	color: white;
}
html {
	height: 100%;
}

#content {
	text-align: center;
	padding-top: 20%;
	text-shadow: 0px 4px 12px rgba(0,0,0,0.4),
				 2px 8px 18px rgba(0,0,0,0.8);	
}

h1 {
	font-weight: 700;
	font-size: 5em;

}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
